<app-menu></app-menu>
<h3>Request Lines</h3>
<table *ngIf="request" class="table table-lg">
    <thead>
        <th>Id</th>
        <th>Description</th>
        <th>Status</th>
        <th>Total</th>
        <th>User</th>
        <th>Action</th>
    </thead>
    <tbody>
        <td>{{request.id}}</td>
        <td>{{request.description}}</td>
        <td>{{request.status}}</td>
        <td>{{request.total | currency}}</td>
        <td>{{request.user.username}}</td>
    </tbody>
</table>
<hr>
<h6>Requestlines</h6>
<a *ngIf="request"class="click" routerLink="/request-lines/create/{{request.id}}">Add</a> 
<table *ngIf="request" class="table table-lg">
    <thead>
        <th>Id</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price
        <th>Line Total</th>
        <th>Actions</th>
    </thead>
    <tbody *ngFor="let request of request.requestlines">
        <td>{{request.id}}</td>
        <td>{{request.product.description}}</td>
        <td>{{request.quantity}}</td>
        <td>{{request.product.price | currency}}</td>
        <td>{{request.product.price * request.quantity | currency}}</td>


        <td *ngIf="request"><a class="click" routerLink="/request-lines/edit/{{request.id}}">Edit</a> |
            <a class="click" (click)="verify()">Delete</a>
            <a class="click" *ngIf="showDelete" (click)="delete(request.id, request.id)">Confirm Delete</a>
        </td>
        
    </tbody>
</table>