<app-menu></app-menu>
<div>
    <div>
        <span>
            <h3>Request Detail</h3>
        </span>
    </div>
    <table class="table table-lg" *ngIf="request">
        <tr>
            <th>Id</th>
            <td>
                <input [(ngModel)]="request.id" type="number" disabled>
            </td>
        </tr>
        <tr>
            <th>Description</th>
            <td>
                <input [(ngModel)]="request.description" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Justification</th>
            <td>
                <input [(ngModel)]="request.justification" | type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Rejection Reason</th>
            <td>
                <input [(ngModel)]="request.rejectionreason" type="number" disabled>
            </td>
        </tr>
        <tr>
            <th>Delivery Mode</th>
            <td>
                <input [(ngModel)]="request.deliverymode" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Status</th>
            <td>
                <input [(ngModel)]="request.status" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>Total</th>
            <td>
                <input [(ngModel)]="request.total" type="text" disabled>
            </td>
        </tr>
        <tr>
            <th>User Request</th>
            <td>
            <td>
                <input [(ngModel)]="request.username" type="text" disabled>
            </td>
        </tr>

    </table>
    <br>
    <button class="btn btn-warning" routerLink="/request/edit/{{request.id}}">Edit</button>
    <button (click)="toggleVerify()" class="btn btn-danger">Delete</button>
    <span *ngIf="showVerify">
        <button (click)="delete()" class="btn btn-success">Verify Delete</button>
    </span>
    <button class="btn btn-warning" routerLink="/requests/review/{{request.id}}">Review</button>
    <span *ngIf="showVerify">
        <button (click)="review()" class="btn btn-info">Review Ready</button>
    </span>
</div>