<app-menu></app-menu>
<h3>Request Edit</h3>
<span><a routerLink="/requests/list"> Back to List</a></span>
<table *ngIf="request" class="table table-lg">
    <tr>
        <th>Id</th>
        <td><input [(ngModel)]="request.id" type="number" disabled></td>
    </tr>
    <tr>
        <th>User</th>
        <td><input [(ngModel)]="request.user.username" type="text" disabled></td>
    </tr>
    <tr>
        <th>Description</th>
        <td><input [(ngModel)]="request.description" type="text"></td>
    </tr>
    <tr>
        <th>Justification</th>
        <td><input [(ngModel)]="request.justification" type="text"></td>
    </tr>
    <tr>
        <th>Delivery Mode</th>
        <td><input [(ngModel)]="request.deliveryMode" type="text"></td>
    </tr>
    <tr>
        <th>Total</th>
        <td><input [(ngModel)]="request.total" type="number"disabled></td>
    </tr>
    <tr >
        <button (click)="save()" class="btn btn-success">Save</button> 
    </tr>
</table>
