<app-menu></app-menu>
<div>
    <h4>Request List </h4>
    <span><a routerLink="/requests/create">Create New Request</a></span>|
    <span><input [(ngModel)]="searchCriteria" type="text" placeholder="Search"></span>
    <table class="table table-lg">
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Justification</th>
            <th>Rejection Reason</th>
            <th>Delivery Mode</th>
            <th>Status</th>
            <th>Total</th>
            <th>User Id</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let request of requests | Requestsearch: searchCriteria">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.justification}}</td>
            <td>{{request.rejectionReason}}</td>
            <td>{{request.deliveryMode}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.username}}</td>
            <td>
                <a routerLink="/requests/detail/{{request.id}}">Detail</a> |
                <a routerLink="/requests/edit/{{request.id}}">Edit</a> |
                <a routerLink="/requests/lines/{{request.id}}">Lines</a>
            </td>

        </tr>
    </table>
</div>